<div class="alert alert-danger boxWidth" ng-if="checkForError(ctrl.asset)">
    <strong>Error!</strong> {{errorMessage(ctrl.asset)}}
</div>

<!-- each item should be here -->
<div class="card boxWidth" ng-if="!checkForError(ctrl.asset)">
    <!--<div class="card-block">-->
    <div>
        <p class="card-text1">{{ctrl.asset.title}}</p>
        <p class="card-text2">{{ctrl.asset.views | viewOrder}}</p>
    </div>

    <iframe type="text/html"
            width="600"
            height="385"
            ng-src="{{getIframeSrc(ctrl.asset)}}"
            frameborder="0">
    </iframe>

    <!--</div>-->
</div>

