<!DOCTYPE html>
<html ng-app="videoApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="/vendor/jquery-2.1.4.min.js"></script>
    <script src="/vendor/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/filter/viewsOrder.js"></script>
    <script src="/js/services/video-items-service.js"></script>
    <script src="/js/services/error-service.js"></script>
    <script src="/js/components/main/main.module.js"></script>
    <script src="/js/components/youtube/youtube.module.js"></script>
    <script src="/js/components/facebook/facebook.module.js"></script>
    <script src="/js/components/url/url.module.js"></script>
</head>
<body>


<main-view></main-view>



</body>
</html>
